<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/css/admin.css">
</head>

<body class="body">
    <div class="sidebar-container">
        <li style="margin-top: 10px;">
            <center><img src="/static/img/logo.png" height="132"></center>
        </li>
        <ul class="sidebar-navigation"> 
            <li>
                <a href="/databatik">
                    <i class="fa fa-tree" aria-hidden="true"></i>Data Batik
                </a>
            </li>
            <li>
                <a href="/riwayat">
                    <i class="fa fa-plus" aria-hidden="true"></i>Riwayat
                </a>
            </li>
        </ul>    
        <ul class="sidebar-navigation-1">
            <li>
                <a href="/logout">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>Logout
                </a>
            </li>
        </ul>
    </div>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>