{% extends 'includes/include.html' %}
{% block content %}

<head>
    <link rel="stylesheet" href="../../static/css/dataset.css">
    <style>
        label {
            font-size: 12px;
        }
    </style>
</head>
{% include "includes/sidebar.html" %}

<div class="container">
    <div class="daftarBunga">
        <h2>Isi Data Karyawan</h2>
        <form method="post" action="/updateBunga/{{editBunga.nama}}">
            <hr>
            <div>
                <label for="nm_bunga">Nama Bunga</label>
                <input value="{{editBunga.nama}}" maxlength="35" class="form-control" type="text"
                    name="nm_bunga" required><br>
                <label for="nm_lain">Nama Lain</label>
                <input value="{{editBunga.nama_lain}}" class="form-control" type="text" name="nm_lain" required><br>
                <label for="musim">Musim Tumbuh</label>
                <input value="{{editBunga.musim_tumbuh}}" class="form-control" type="text" name="musim" required><br>
                <label for="warna">Warna</label>
                <input value="{{editBunga.warna}}" class="form-control" type="text" name="warna" required><br>
                <label for="asal">Asal Bunga</label>
                <input value="{{editBunga.asal_bunga}}" class="form-control" type="text" name="asal" required><br>
                
                <a href="/popupedit" style="margin-left:21px;"><br>
                    <button type="submit" class="btn" style="background-color:#98ef56;">Update Data</button>
                </a>
            </div>
        </form>
    </div>
</div>

{% endblock %}